In [1]:
import glob
import pandas as pd

In [2]:
files = glob.glob('C:/Users/Ahmed/cyclists trip data/*.csv')

In [3]:
files

['C:/Users/Ahmed/cyclists trip data\\Divvy_Trips_2019_Q1.csv',
 'C:/Users/Ahmed/cyclists trip data\\Divvy_Trips_2019_Q2.csv',
 'C:/Users/Ahmed/cyclists trip data\\Divvy_Trips_2019_Q3.csv',
 'C:/Users/Ahmed/cyclists trip data\\Divvy_Trips_2019_Q4.csv']

In [4]:
pd.read_csv(files[0]).columns

Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear'],
      dtype='object')

In [5]:
df1 = pd.DataFrame()
for file in files:
    df = pd.read_csv(file)
    df.columns = ['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear']
    df1 = pd.concat([df1,df])

In [6]:
df1

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0
...,...,...,...,...,...,...,...,...,...,...,...,...
704049,25962900,2019-12-31 23:56:13,2020-01-01 00:15:45,2196,"1,172.0",112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0
704050,25962901,2019-12-31 23:56:34,2020-01-01 00:22:08,4877,"1,533.0",90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0
704051,25962902,2019-12-31 23:57:05,2020-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0
704052,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0
704053,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0

In [7]:
df1.dtypes

trip_id                int64
start_time            object
end_time              object
bikeid                 int64
tripduration          object
from_station_id        int64
from_station_name     object
to_station_id          int64
to_station_name       object
usertype              object
gender                object
birthyear            float64
dtype: object

In [8]:
df1.shape

(3818004, 12)

In [9]:
df1.dropna().shape

(3258796, 12)

In [10]:
df1.isnull().sum()

trip_id                   0
start_time                0
end_time                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
gender               559206
birthyear            538751
dtype: int64

In [11]:
df1 = df1.dropna()

In [12]:
df1.shape

(3258796, 12)

In [13]:
df1.dtypes

trip_id                int64
start_time            object
end_time              object
bikeid                 int64
tripduration          object
from_station_id        int64
from_station_name     object
to_station_id          int64
to_station_name       object
usertype              object
gender                object
birthyear            float64
dtype: object

In [14]:
df1['tripduration'].astype(float)

ValueError: could not convert string to float: '1,783.0'

In [15]:
df1['tripduration'].str.replace(',','')

0          390.0
1          441.0
2          829.0
3         1783.0
4          364.0
           ...
704049    1172.0
704050    1533.0
704051     520.0
704052     514.0
704053     120.0
Name: tripduration, Length: 3258796, dtype: object

In [16]:
df1['tripduration'] = df1['tripduration'].str.replace(',','')

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_8936\996778365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['tripduration'] = df1['tripduration'].str.replace(',','')

In [17]:
df1['tripduration'].astype(float)

0          390.0
1          441.0
2          829.0
3         1783.0
4          364.0
           ...
704049    1172.0
704050    1533.0
704051     520.0
704052     514.0
704053     120.0
Name: tripduration, Length: 3258796, dtype: float64

In [18]:
trip_in_mins = round(df1['tripduration']/60,2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [19]:
df1['tripduration'] = df1['tripduration'].astype(float)

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_8936\2076830999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['tripduration'] = df1['tripduration'].astype(float)

In [20]:
trip_in_mins = round(df1['tripduration']/60,2)

In [21]:
df1['trip_in_mins'] = trip_in_mins

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_8936\4238625971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['trip_in_mins'] = trip_in_mins

In [22]:
df1.shape

(3258796, 13)

In [23]:
df1.columns

Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear', 'trip_in_mins'],
      dtype='object')

In [24]:
df1.dtypes

trip_id                int64
start_time            object
end_time              object
bikeid                 int64
tripduration         float64
from_station_id        int64
from_station_name     object
to_station_id          int64
to_station_name       object
usertype              object
gender                object
birthyear            float64
trip_in_mins         float64
dtype: object

In [25]:
pd.to_datetime(df1['start_time'])

0        2019-01-01 00:04:37
1        2019-01-01 00:08:13
2        2019-01-01 00:13:23
3        2019-01-01 00:13:45
4        2019-01-01 00:14:52
                 ...
704049   2019-12-31 23:56:13
704050   2019-12-31 23:56:34
704051   2019-12-31 23:57:05
704052   2019-12-31 23:57:11
704053   2019-12-31 23:57:17
Name: start_time, Length: 3258796, dtype: datetime64[ns]

In [26]:
df1['start_time']=pd.to_datetime(df1['start_time'])

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_8936\2464343840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['start_time']=pd.to_datetime(df1['start_time'])

In [28]:
month = df1['start_time'].dt.month

In [29]:
df1['month'] = df1['start_time'].dt.month

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_8936\3091282069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['month'] = df1['start_time'].dt.month

In [30]:
df1['start_time'].dt.dayofweek

0         1
1         1
2         1
3         1
4         1
         ..
704049    1
704050    1
704051    1
704052    1
704053    1
Name: start_time, Length: 3258796, dtype: int64

In [31]:
df1.shape

(3258796, 14)

In [32]:
weekdays = df1['start_time'].dt.dayofweek

In [33]:
df1['weekdays'] = df1['start_time'].dt.dayofweek

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_8936\2978151224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['weekdays'] = df1['start_time'].dt.dayofweek

In [34]:
df1.dtypes

trip_id                       int64
start_time           datetime64[ns]
end_time                     object
bikeid                        int64
tripduration                float64
from_station_id               int64
from_station_name            object
to_station_id                 int64
to_station_name              object
usertype                     object
gender                       object
birthyear                   float64
trip_in_mins                float64
month                         int64
weekdays                      int64
dtype: object

In [36]:
df1.birthyear.astype(int)

0         1989
1         1990
2         1994
3         1993
4         1994
          ...
704049    1981
704050    1992
704051    1967
704052    1970
704053    1982
Name: birthyear, Length: 3258796, dtype: int32

In [37]:
age = 2023 - df1['birthyear']

In [38]:
df1['age']= age

C:\Users\Ahmed\AppData\Local\Temp\ipykernel_8936\2239100991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['age']= age

In [39]:
df1.columns

Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear', 'trip_in_mins',
       'month', 'weekdays', 'age'],
      dtype='object')

In [40]:
df1.dtypes

trip_id                       int64
start_time           datetime64[ns]
end_time                     object
bikeid                        int64
tripduration                float64
from_station_id               int64
from_station_name            object
to_station_id                 int64
to_station_name              object
usertype                     object
gender                       object
birthyear                   float64
trip_in_mins                float64
month                         int64
weekdays                      int64
age                         float64
dtype: object

In [41]:
df1.to_csv('BikeSharing.csv')

In [42]:
df1

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,trip_in_mins,month,weekdays,age
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0,6.50,1,1,34.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0,7.35,1,1,33.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0,13.82,1,1,29.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,1783.0,123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0,29.72,1,1,30.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0,6.07,1,1,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704049,25962900,2019-12-31 23:56:13,2020-01-01 00:15:45,2196,1172.0,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0,19.53,12,1,42.0
704050,25962901,2019-12-31 23:56:34,2020-01-01 00:22:08,4877,1533.0,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,25.55,12,1,31.0
704051,25962902,2019-12-31 23:57:05,2020-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,8.67,12,1,56.0
704052,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,8.57,12,1,53.0
704053,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,2.00,12,1,41.0

In [43]:
data=df1

In [44]:
data

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,trip_in_mins,month,weekdays,age
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0,6.50,1,1,34.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0,7.35,1,1,33.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0,13.82,1,1,29.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,1783.0,123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0,29.72,1,1,30.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0,6.07,1,1,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704049,25962900,2019-12-31 23:56:13,2020-01-01 00:15:45,2196,1172.0,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0,19.53,12,1,42.0
704050,25962901,2019-12-31 23:56:34,2020-01-01 00:22:08,4877,1533.0,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,25.55,12,1,31.0
704051,25962902,2019-12-31 23:57:05,2020-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,8.67,12,1,56.0
704052,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,8.57,12,1,53.0
704053,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,2.00,12,1,41.0

In [45]:
data.to_csv('BikeShareFinal.csv', index = False)